@model string

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
        <title>Hang1</title>
    </asp:Content>
    <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <h2>Hang1</h2>
       

          

       
    </asp:Content>

    <input type="submit" value="delay" name="button" />
</form>