@model string

@{
    ViewData["Title"] = "Home Page";
}

<form>
    <asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
        <title>Leak</title>
    </asp:Content>
    <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <h2>Leak</h2>
       

            <br />
        <label>Time to deliver</label>
            <label>@Model</label>
            
            <br />
       

        <br />

       
    </asp:Content>

  
</form>