

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
        <title>Crash2</title>
    </asp:Content>
    <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <h2>Crash2</h2>

        <br />
        <label>Enter Email to Send</label>
        <input type="text" />
        <br />





    </asp:Content>

    <input type="submit" value="send" name="button" />
</form>